 html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100%;

}

#panel {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  gap: 2rem;
  height: 100%;
}

.stream-container {
  height: 100%;
}

.stream { 
  width: auto;
  height: 565px;
  border: none;
  overflow: hidden;
}

.App {
  width: 100%;
  height: 100%;
}
